<% layout('/layouts/boilerplate')%>
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <div class="card mb-3 mx-auto">
                <img src="<%= school.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= school.title %>
                    </h5>
                    <p class="card-text">
                        <%= school.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Location:
                        <a href="/schools?location=<%=school.location %>">
                            <%=school.location %>
                        </a>
                    </li>
                    <li class="list-group-item">Price:<%=school.price %>/year</li>
                </ul>
                <div class="card-body d-flex flex-column flex-md-row gap-3">
                    <a class="card-link btn btn-info w-100 w-md-auto" href="/schools/<%=school._id%>/edit">Edit
                        School</a>
                    <form class="w-100 w-md-auto" action="/schools/<%=school._id%>?_method=Delete" method="POST">
                        <button class=" btn btn-danger w-100">Delete</button>
                    </form>
                    <a class="btn btn-info w-100 w-md-auto" href="/schools">Back To All Schools</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Leave a Review</h2>
            <form action="/schools/<%=school._id %>/reviews" method="POST" class="validated-form mb-5" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="range">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" id="range" name="review[rating]" required>
                    <div class="invalid-feedback">
                        Please write a review.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="invalid-feedback">
                        Please write a review.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for(let review of school.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rating: <%= review.rating %>
                        </h5>
                        <p>
                            Review: <%= review.body %>
                        </p>
                        <form action="/schools/<%=school._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    </div>