<% layout('/layouts/boilerplate')%>

    <body>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="card mb-3">
                    <img src="<%-school.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%-school.title %></h5>
                        <p class="card-text"><%-school.description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Location:
                            <a href="/schools?location=<%-school.location %>"><%-school.location %></a>
                        </li>
                        <li class="list-group-item">Price:<%-school.price %>/year</li>
                    </ul>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/schools/<%=school._id%>/edit">Edit School</a>
                        <form class="d-inline" action="/schools/<%=school._id%>?_method=Delete" method="POST">
                            <button class=" btn btn-danger">Delete</button>
                        </form>
                        <a href="/schools">Back To All Schools</a>
                    </div>
                </div>
            </div>
        </div>